---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import CSS from "./icons/CSS.astro"
import PHP from "./icons/PHP.astro"
import Javascript from "./icons/Javascript.astro"
import SQL from "./icons/SQL.astro"
import Typescript from "./icons/Typescript.astro"
import Angular from "./icons/Angular.astro"
import Bootstrap from "./icons/Bootstrap.astro"
import HTML from "./icons/HTML.astro"
import VirtualBox from "./icons/VirtualBox.astro"
import Linux from "./icons/Linux.astro"
import Windows from "./icons/Windows.astro"
import Vmware from "./icons/Vmware.astro"
import pfsense from "./icons/pfsense.astro"






const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
   CSS: {
    name: "CSS",
    class: "bg-blue-500 text-white",
    icon: CSS, 
  },
  PHP: {
    name: "PHP",
    class: "bg-blue-500 text-white",
    icon: PHP, 
  },
   Javascript: {
    name: "Javascript",
    class: "bg-blue-500 text-white",
    icon: Javascript, 
  },
    SQL: {
    name: "SQL",
    class: "bg-blue-500 text-white",
    icon: SQL, 
  },
   Typescript: {
    name: "Typescript",
    class: "bg-blue-500 text-white",
    icon: Typescript, 
  },
   Angular: {
    name: "Angular",
    class: "bg-blue-500 text-white",
    icon: Angular, 
  },
  Bootstrap: {
    name: "Bootstrap",
    class: "bg-blue-500 text-white",
    icon: Bootstrap, 
  },
   HTML: {
    name: "HTML",
    class: "bg-blue-500 text-white",
    icon: HTML, 
  },
 VirtualBox: {
    name: "VirtualBox",
    class: "bg-blue-500 text-white",
    icon: VirtualBox, 
  },
  Linux: {
    name: "Linux",
    class: "bg-blue-500 text-white",
    icon: Linux, 
  },
  Vmware: {
    name: "Vmware",
    class: "bg-blue-500 text-white",
    icon: Vmware, 
  },
  pfsense: {
    name: "pfsense",
    class: "bg-blue-500 text-white",
    icon: pfsense, 
  },
     Windows: {
    name: "Windows",
    class: "bg-blue-500 text-white",
    icon: Windows, 
  },
   
   

}
const PROJECTS = [
  {
    title: "FIT_Center",
    description: "Este proyecto muestra todos los pasos seguidos para construir una Aplicación Web para la reserva de clases de deporte a distancia. Este proyecto ha sido construido puramente con lenguajes de marcas: HTML, CSS3. Lenguajes de programación: Javascript, PHP. Tecnologías como AJAX, JSON, jQuery. Y el framework Bootstrap.",
    link: "http://fit-center.000.pe/",
    github: "https://github.com/ImaneLamriui/FIT_Center-Project",
    image: "/projects/svgl.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.Bootstrap,TAGS.Javascript, TAGS.PHP, TAGS.SQL],
  },
    {
    title: "Academía a distancia de enseñanza de Arte",
    description: "Aplicación desarrollada con Angular, para enseñanza de arte a distancia, Este proyecto fue generado con Angular CLI versión. Me he enfocado únicamente en el lado funcional de la aplicación, y el diseño web se ha integrado solo en la medida necesaria para realizar estas funcionalidades.",
    link: "https://academia-bf787.web.app/",
    github: "https://github.com/ImaneLamriui/AcademyApp",
    image: "/projects/academiaArte.webp",
    tags: [TAGS.Angular, TAGS.Typescript],
  },
  
 
   {
    title: "CRUD-DevSecOps",
    description: "Esta aplicación CRUD es desarrollada para gestionar ventas de componentes electronicos, en la cual hay una combinación de desarrollo(Dev), seguridad(sec) y Pperaciones(Ops), esta fortalecida con medidas de sanitazación y parametros queries y otros medidas de seguridad",
    link: "http://crud-devsecops.free.nf/",
    github: "https://github.com/ImaneLamriui/CRUD-DevSecOps",
    image: "/projects/crudDevsecops.webp",
    tags: [TAGS.HTML, TAGS.Bootstrap, TAGS.PHP, TAGS.SQL],
  },
   {
    title: "El firewall pfSense",
    description: "optimización de redes virtuales utilizando el firewall pfSense,atraves de Crear y configurar una interfaz de red Ethernet para pfSense en un entorno virtualizado.Optimizar y maximizar la seguridad de la red informática de una empresa, como cuando utilizamos pfSense para ello, y que este proyecto lo realicé con la conexión de varias máquinas virtuales.",
    link: "https://imanelmr.hashnode.dev/configuring-ipsec-for-one-branch",
    github: "https://github.com/ImaneLamriui/Optimizing-Virtual-Networks-with-pfSense-Firewall",
    image: "/projects/pfsense.webp",
    tags: [TAGS.VirtualBox, TAGS.Linux, TAGS.Windows, TAGS.Vmware, TAGS.pfsense],
  },
   {
    title: "Calculador con Python",
    description:"Calculadora desarrollada con Python, incluye un archivo ejecutable para la ejecución de lla calculadora en cualquier sistema operativo teniendo o no Python instalado.",
    link: "https://github.com/ImaneLamriui/Calculator-Python/blob/main/Calculatorpython/dist/CalculatorPython.exe",
    github: "https://github.com/ImaneLamriui/Calculator-Python-with-EXE-File",
    image: "/projects/calculadorPython.webp",
    tags: [TAGS.HTML, TAGS.Bootstrap, TAGS.PHP, TAGS.SQL],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
     
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
//AÑADIR ESTA LINEA PARA APARICIÓN DE LOS TAGS QUE FALTAN
 tag?.class && tag?.icon && (

            <li>
            
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}><tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
            //----
            )
            //-------
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>